{% extends 'base.html.twig' %}
{% block body %}






             <p class="text-end">{{ fecha|date("d/m/Y") }}</p>
        </tr>
             <p></p><p<p></p><p></p>
            <ul><ul>
                    <br><br>
                    <p class="text-center"><th>
                            <br><br><br>
                    <h1> <div align="center" <>CARGO DE BIENES DE CAPITAL</b></p><br><br><br><br></div></h1></ul>
                       <h2> <br>Responsable de la tenencia, guarda y conservación
                        <br><ul>Oficina: {{ responsable.cargo }}
                        <br>Agente: {{ responsable.nombre }}
                           </ul>
                        Datos de adquisicion
                    <ul>Fecha adquisicion: {{ factura.fecha|date("m/d/Y") }}
                        <br>Proveedor: {{ proveedor.nombre }}
                        </br>N° de Factura: {{ factura.numeroFactura }}
                        <br>Importe unitario: $ {{ factura.montoUnitario }}
                        <br>Importe total: $ {{ factura.montoTotal }}
                    </ul>
                    Bien Adquirido
                    <ul>Detalle: {{ bien.estado }}
                        <br>Descripcion/SARI/N° de Serie: {{ bien.descripcion }}
<form action="{{ path('alta_pdf', {'id':bien.id}) }}">
                        <br>Color:  <select name=color id="selectColor">
                            <option value="0" selected>Colores..
                            <option value="Negro">Negro
                            <option value="Blanco">Blanco
                            <option value="Azul">Azul
                            <option value="Naranja">Naranja
                            <option value="Rojo">Rojo
                            <option value="Amarillo">Amarillo
                            <option value="Verde">Verde
                            <option value="Marrón">Marrón
                            <option value="Gris">Gris
                            <option value="Sin color - no es fisico">Sin color - no es fisico
                        </select>
<button class="btn btn-primary" type="submit">Generar PDF</button>
</form>
                        <br>N° codigo sistema: {{ bien.codigo }}
                        <br>Caracteristica: {{ bien.tipo }} {{ bien.rama }}
                    </ul>
                       </h2>
                    </th>

                    <br><br><br><br><br>
                    <p align="left">...........................................................................................
                    <br><br>Firma responsable del sector - {{ responsable.nombre }}</p>
                    <p align="center">...........................................................................................
                    <br><br>    Firma responsable de compras </p>

                   



        </ul></ul>

    <div class="clearfix"><br></div>

    <footer class="footer text-muted">
        <div class="container container-footer">
            <div class="row">

                <div class="col-sm-12 col-md-4">

                    <div class="stg-logos" style="text-align:center">
                        <img src="//www.santafe.gob.ar/assets/standard/images/marca-footer.png" alt="Santa Fe" style="margin-bottom:10px;">
                    </div>


                </div>

                <div class="col-sm-12 col-md-4 contact-data-footer" align="center">
                    <p>Sectorial de Informática
                    <br>Ministerio de Igualdad, Género y Diversidad
                    </p>
                    <p>
                        Corrientes 2879 - (3000) Santa Fe </p><p>Tel: (0342) 4572888 / 4589468</p>

                </div>

            </div>

        </div>
    </footer>
        </html>

         <a target="_blank" href="{{ path('alta_pdf', {'id':bien.id}) }}">
                    Imprimir PDF </a>

{% endblock %}