{% extends 'base_new.html.twig' %}

{% block body %}
	<h1>Baja Bien</h1>

 
	{% with {'form': edit_form, 'btnTxt': 'Dar de baja Bien'}%}
	{{ block("formBlock", "./blocks/formBlockbaja.twig") }}
       {{ form_widget(form.motivoBaja, { 'attr': {'style': 'display:block'} }) }}
	{% endwith %}

  

	<div class="btn-group mb-3" role="group" aria-label="Basic outlined example">
		</a>
	<a href="{{ path('bien_index') }}" class="btn btn-sm btn-outline-primary">
		Volver al listado de bienes
	</a>
	{{ form_start(delete_form) }}
	<input type="submit" value="Eliminar" class="btn btn-sm btn-outline-danger">
</a>
{{ form_end(delete_form) }}</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('#bienesbundle_bien_tipo').change(function () {
            var tipoSelector = $(this);
            
            // Solicite las rama del tipo seleccionado.
            $.ajax({
                url: "{{ path('bien_list_ramas') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    tipoid: tipoSelector.val()
                },
                success: function (ramas) {
                    var ramaSelect = $("#bienesbundle_bien_rama");

                    // Eliminar opciones actuales
                    ramaSelect.html('');
                    
                    // Valor vacío...
                    ramaSelect.append('<option value> Seleccione una rama del tipo ' + tipoSelector.find("option:selected").text() + ' ...</option>');
                    
                    
                    $.each(ramas, function (key, rama) {
                        ramaSelect.append('<option value="' + rama.id + '">' + rama.name + '</option>'); //ojo aca capaz va nombreRama
                    });
                },
                error: function (err) {
                    alert("Ocurrio un problema con la loading data ...");
                }
            });
        });
    </script>


{% endblock %}
