{% extends 'base_new.html.twig' %}

{% block body %}
	<h1>Editar Bien</h1>

      
	
	{% with {'form': edit_form, 'btnTxt': 'Guardar'}%}
	{{ block("formBlock", "./blocks/formBlock.twig") }}
	{% endwith %}


	<div class="btn-group mb-3" role="group" aria-label="Basic outlined example">
	<a href="{{ path('bien_baja', { 'id': bien.id }) }}" class="btn btn-sm  btn-outline-primary">Baja de bien</a>

	</a>	
	<a href="{{ path('bien_index') }}" class="btn btn-sm btn-outline-primary">
		Volver al listado de bienes
	</a>
	{{ form_start(delete_form) }}
	<input type="submit" value="Eliminar" class="btn btn-sm btn-outline-danger">
</a>

{{ form_end(delete_form) }}</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('#bienesbundle_bien_tipo').change(function () {
            var tipoSelector = $(this);
            
            // Solicite las rama del tipo seleccionado.
            $.ajax({
                url: "{{ path('bien_list_ramas') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    tipoid: tipoSelector.val()
                },
                success: function (ramas) {
                    var ramaSelect = $("#bienesbundle_bien_rama");

                    // Eliminar opciones actuales
                    ramaSelect.html('');
                    
                    // Valor vacío...
                    ramaSelect.append('<option value> Seleccione una rama del tipo ' + tipoSelector.find("option:selected").text() + ' ...</option>');
                    
                    
                    $.each(ramas, function (key, rama) {
                        ramaSelect.append('<option value="' + rama.id + '">' + rama.name + '</option>'); //ojo aca capaz va nombreRama
                    });
                },
                error: function (err) {
                    alert("Ocurrio un problema con la loading data ...");
                }
            });
        });

        //filtro de proveedor-factura
         $('#bienesbundle_bien_proveedor').change(function () {
            var proveedorSelector = $(this);
            
            // Solicite las facturas del proveedor seleccionado.
            $.ajax({
                url: "{{ path('bien_list_facturas') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    proveedorid: proveedorSelector.val()
                },
                success: function (facturas) {
                    var facturaSelect = $("#bienesbundle_bien_factura");

                    // Eliminar opciones actuales
                    facturaSelect.html('');
                    
                    // Valor vacío...
                    facturaSelect.append('<option value> Seleccione una factura de ' + proveedorSelector.find("option:selected").text() + ' ...</option>');
                    
                    
                    $.each(facturas, function (key, factura) {
                        facturaSelect.append('<option value="' + factura.id + '">' + factura.name + '</option>'); 
                    });
                },
                error: function (err) {
                    alert("Ocurio un problema loading data ...");
                }
            });
        });
    </script>


{% endblock %}

