{% extends 'base.html.twig' %}
{% block body %}






             <p class="text-end">{{ fecha|date("d/m/Y") }}</p>
        </tr>
             <p></p><p<p></p><p></p>
            <ul><ul>
                    <br><br>
                    <p class="text-center"><th>
                            <br><br><br>
                    <h1> <div align="center"> PRESTAMO PATRIMONIO INFOMÁTICO</b></p><br><br><br><br></div></h1></ul>
                      <h2>
                      Por medio de la presente la sectorial de informática del Ministerio de Igualdad, Género y Diversidad de la provincia de Santa Fe
                deja constancia que {{ bien.tipo }} {{ bien.rama }} número de codigo sistema: {{ bien.codigo }} y SARI/serie: {{ bien.descripcion }} es cedido, y pasa a ser
                responsable de la tenencia, guarda y conservación el agente {{ responsable.nombre }}, a partir del dia {{ fecha|date("m/d/Y") }}.


                    </ul>
                       </h2>
                    </th>
                    <ul><ul><ul>
                    <br><br><br><br><br>
                    <p>.........................................................
                    <br><br>Firma Agente Responsable - {{ responsable.nombre }}</p>
                    <p align="center">.....................................................
                        <br><br>Firma responsable de Informática </p>

                            </ul></ul></ul>



        </ul></ul>

    <div class="clearfix"><br></div>

    <footer class="footer text-muted">
        <div class="container container-footer">
            <div class="row">

                <div class="col-sm-12 col-md-4">

                    <div class="stg-logos" style="text-align:center">
                        <img src="//www.santafe.gob.ar/assets/standard/images/marca-footer.png" alt="Santa Fe" style="margin-bottom:10px;">
                    </div>


                </div>

                <div class="col-sm-12 col-md-4 contact-data-footer" align="center">
                    <p>Sectorial de Informática
                    <br>Ministerio de Igualdad, Género y Diversidad
                    </p>
                    <p>
                        Corrientes 2879 - (3000) Santa Fe </p><p>Tel: (0342) 4572888 / 4589468</p>

                </div>

            </div>

        </div>
    </footer>
        </html>



{% endblock %}