{% extends 'base.html.twig' %}
{% block body %}






             <p class="text-end">{{ fecha|date("d/m/Y") }}</p>
        </tr>
             <p></p><p<p></p><p></p>
            <ul><ul>
                    <br><br>
                    <p class="text-center"><th>
                            <br><br><br>
                    <h1> <div align="center"> PRESTAMO PATRIMONIO INFORMÁTICO</b></p><br><br><br><br></div></h1></ul>
                      <h2>
                      Por medio de la presente la sectorial de informática del Ministerio de Igualdad, Género y Diversidad de la provincia de Santa Fe
                deja constancia que {{ bien.tipo }} {{ bien.rama }} número de codigo sistema: {{ bien.codigo }} y SARI/serie: {{ bien.descripcion }} es cedido, y pasa a ser
                responsable de la tenencia, guarda y conservación el agente {{ responsable.nombre }}, a partir del dia {{ fecha|date("m/d/Y") }}.


                    </ul>
                       </h2>
                    </th>
                    <ul><ul><ul>
                    <br><br><br><br><br>
                    <p>.........................................................
                    <br><br>Firma Agente Responsable - {{ responsable.nombre }}</p>
                    <p align="center">.....................................................
                        <br><br>Firma responsable de Informática </p>

                            </ul></ul></ul>



        </ul></ul>

    <div class="clearfix"><br></div>

    
        </html>

 <a target="_blank" href="{{ path('prueba_pdf', {'id':bien.id}) }}">
                    Imprimir PDF </a>

{% endblock %}