{% extends 'base_new.html.twig' %}

{% block body %}


	<h1>Listado de bienes MIGyD
		<h3>

			<div class="table-responsive borderRad">
				<table id="tableData" class="table bg-light table-sm table-striped table-bordered table-hover text-center text-dark">
					<thead class="tableHead-bg">
						<tr>
							<th>Id bien</th>
							<th>Codigo</th>
							<th>Usuario</th>
							<th>Descripcion/codigo SARI</th>
							<th>Lugar</th>
							<th>Estado</th>
							<th>Fecha de alta</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>


						{% for bien in biens|filter((b) => b) %}

							<tr id="direccion">
								<td>
									<a href="{{ path('bien_show', { 'id': bien.id }) }}">{{ bien.id }}</a>
								</td>
								<td>{{ bien.codigo }}</td>
								<td>{{ bien.responsable }}</td>
								<td>{{ bien.descripcion }}</td>
								<td>{{ bien.ubicacion }}</td>
								<td>{{ bien.estado }}</td>
								<td>
									{% if bien.fechaAlta %}
										{{ bien.fechaAlta|date('d-m-Y') }}
									{% endif %}
								</td>
								<td>
									<ul>
										<div class="btn-group" role="group" aria-label="Basic outlined example">
											<a href="{{ path('bien_show', { 'id': bien.id }) }}" class="btn btn-sm btn-outline-primary">ver</a>

											<a href="{{ path('bien_edit', { 'id': bien.id }) }}" class="btn btn-sm  btn-outline-primary">editar</a>

											<a href="{{ path('prestamo_imprimir', { 'id': bien.id }) }}" class="btn btn-sm  btn-outline-primary">imprimir alta</a>

											<a href="{{ path('prestamo_bien', { 'id': bien.id }) }}" class="btn btn-sm  btn-outline-primary">imprimir prestamo</a>
										</div>
									</ul>
								</td>
							</tr>

						{% endfor %}

					</tbody>
				</table>
			</div>

			<ul>
				<div class="btn-group" role="group" aria-label="Basic outlined example">

					<a href="{{ path('bien_new') }}" class="btn btn-outline-primary">
						Alta nuevo bien
					</a>
					<a href="{{ path('bienes_homepage') }}" class="btn btn-outline-primary">
						Volver al menú principal
					</a>
				</div>
			</ul>
		</h3>


		<script>
			let input = document.getElementById('searchbox');
let rowsData = document.getElementById("tableData").rows;
console.log(rowsData[0].cells);
// rowsData[0].style.display = "none"

// console.log(rowsData[1].cells[3].innerHTML);
input.addEventListener('input', (e) => {
let value = e.target.value.toUpperCase()
let matcher = new RegExp (`^${value}`, 'g');
console.log(matcher);
for (i in rowsData) {

if (rowsData[i].cells[3].innerHTML.toUpperCase().match(matcher) || rowsData[i].cells[2].innerHTML.toUpperCase().match(matcher)) {
rowsData[i].style.display = "block"
} else 
rowsData[i].style.display = "none"





}

});
		</script>


	{% endblock %}
