{% extends 'baseVer.html.twig' %}

{% block body %}

    <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <a class="navbar-brand" href="https://www.santafe.gob.ar"><img
                    src="https://www.santafe.gob.ar/assets/standard/images/gob-santafe.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">


                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('bien_new') }}">Alta nuevo bien <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('factura_index') }}">Factura <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('proveedor_index') }}">Proveedor <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('bienes_homepage') }}">Menú Principal <span class="sr-only">(current)</span></a>
                </li>
                <li><input type="text" id="formulario" class="autocomplete">
                   

            </ul>


            {#
            <li><input type="text" id="formulario" class="autocomplete">
                <button class="btn btn-secondary my-2 my-sm-0" id="boton" type="submit">Buscar</button></li>

        <div class="search">
            <input type="text" id="busqueda" placeholder="Buscar ...">
            <i class="fa fa-search"></i>
        </div>
        <script>
            const lupita = document.getElementById("busqueda");
            lupita.addEventListener("change", () =>{
                console.log("cambia");
            })

        $(document).ready(function(){
        var busqueda = $('#busqueda'),
        titulo = $('th td');
        });
        </script>   ------------- hasta aca lo que hable con fede
            #}
        
            {# cuando se haga click en el boton se ejecutara la funcion filtrar
        formulario.addEventListener('keyup', filtrar) {# cada vez que escriba una letra o se presione una tecla

        filtrar();
        #}



        </div>
    </nav>

<br><br><br><br><br>
    <h1>Listado de bienes MIGyD
    <h3>
<ul>
    <table>
        <thead>
            <tr>
                <th>Id bien</th>
                <th>Codigo</th>
                <th>Usuario</th>
                <th>Descripcion/codigo SARI</th>
                <th>Lugar</th>
                <th>Estado</th>
                <th>Fecha de alta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="direccion">
        {% for bien in biens %}

            <tr>
                <td><a href="{{ path('bien_show', { 'id': bien.id }) }}">{{ bien.id }}</a></td>
                <td>{{ bien.codigo }}</td>
                <td>{{ bien.responsable }}</td>
                <td>{{ bien.descripcion }}</td>
                <td id="ubicaciones"> {{ bien.ubicacion }}</td>
                <td>{{ bien.estado }}</td>
                <td>{% if bien.fechaAlta %}{{ bien.fechaAlta|date('d-m-Y') }}{% endif %}</td>
                <td>
                    <ul>
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a href="{{ path('bien_show', { 'id': bien.id }) }}" class="btn btn-outline-primary">ver</a>

                            <a href="{{ path('bien_edit', { 'id': bien.id }) }}"class="btn btn-outline-primary">editar</a>

                            <a href="{{ path('prestamo_imprimir', { 'id': bien.id }) }}"class="btn btn-outline-primary">imprimir alta</a>

                            <a href="{{ path('prestamo_bien', { 'id': bien.id }) }}"class="btn btn-outline-primary">imprimir prestamo</a>
                        </div>
                    </ul>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table> </ul>

    <ul>
        <div class="btn-group" role="group" aria-label="Basic outlined example">

            <a href="{{ path('bien_new') }}" class="btn btn-outline-primary"> Alta nuevo bien </a>
            <a href="{{ path('bienes_homepage') }}" class="btn btn-outline-primary"> Volver al menú principal </a>
        </div>
    </ul>
    </h3>
    <script>
            const formulario = document.querySelector('#formulario');
            
         //   const resultado = document.querySelector('resultado');

            const columna = document.getElementById("direccion");
            

            const filtrar = ()=>{
              //  resultado.innetHTML = '';
                console.log(formulario.value);
                console.log("hola");
                 
                //const texto = formulario.value;
                // for(let direccion of  ){
                  //  let ubicacion =  ;
                   // if( ubicacion.indexOf(texto) !== -1){ //lo encontro, coincide el texto
                     //   resultado.innerHTML += `
                //<li>${direccion} </li>`
                  //  }
               // }
                // if(resultado.innetHTML == ''){
                   // resultado.innetHTML += `ubicacion no encontrada`
                //}
            }

            formulario.addEventListener('input', filtrar)

        </script>
{% endblock %}