{% extends 'baseVer.html.twig' %}

{% block body %}
    <h1>Listado de los bienes</h1>
    <h3>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Fecha de alta</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for bien in biens %}
            <tr>
                <td><a href="{{ path('bien_show', { 'id': bien.id }) }}">{{ bien.id }}</a></td>
                <td>{{ bien.codigo }}</td>
                <td>{% if bien.fechaAlta %}{{ bien.fechaAlta|date('Y-m-d') }}{% endif %}</td>
                <td>{{ bien.descripcion }}</td>
                <td>{{ bien.estado }}</td>
                <td>
                    <ul>
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a href="{{ path('bien_show', { 'id': bien.id }) }}" class="btn btn-outline-primary">ver</a>

                            <a href="{{ path('bien_edit', { 'id': bien.id }) }}"class="btn btn-outline-primary">editar</a>

                            <a href="{{ path('prestamo_imprimir', { 'id': bien.id }) }}"class="btn btn-outline-primary">imprimir prestado</a>
                        </div>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <div class="btn-group" role="group" aria-label="Basic outlined example">

            <a href="{{ path('bien_new') }}" class="btn btn-outline-primary"> Alta nuevo bien </a>
            <a href="{{ path('bienes_homepage') }}" class="btn btn-outline-primary"> Volver al menú principal </a>
        </div>
    </ul>
    </h3>
{% endblock %}
