{% extends 'base_new.html.twig' %}

{% block body %}
    <h1>
        Alta Bien
    </h1>

    {% with {
        form: form,
        btnTxt: 'Crear'
    }
    
    %}
    {{ block('formBlock', './blocks/formBlock.twig') }}
    {% endwith %}

    <a href="{{ path('bien_index') }}" class="btn btn-sm btn-outline-primary">
        Volver al listado de bienes
    </a>
    <a href="{{ path('bienes_homepage') }}"
        class="btn btn-sm btn-outline-primary">
        Volver al menú principal
    </a>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('#bienesbundle_bien_tipo').change(function () {
            var tipoSelector = $(this);
            
            // Solicite las rama del tipo seleccionado.
            $.ajax({
                url: "{{ path('bien_list_ramas') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                    tipoid: tipoSelector.val()
                },
                success: function (ramas) {
                    var ramaSelect = $("#bienesbundle_bien_rama");

                    // Eliminar opciones actuales
                    ramaSelect.html('');
                    
                    // Valor vacío...
                    ramaSelect.append('<option value> Seleccione rama de ' + tipoSelector.find("option:selected").text() + ' ...</option>');
                    
                    
                    $.each(ramas, function (key, rama) {
                        ramaSelect.append('<option value="' + rama.id + '">' + rama.name + '</option>'); //ojo aca capaz va nombreRama
                    });
                },
                error: function (err) {
                    alert("Ocurio un problema loading data ...");
                }
            });
        });
//filtro de proveedor-factura
        $('#bienesbundle_bien_proveedor').change(function () {
            var proveedorSelector = $(this);
            
           
            // Solicite las facturas del proveedor seleccionado.
            $.ajax({
                url: "{{ path('bien_list_facturas') }}",
                type: "GET",
                dataType: "JSON",
                data: {
                   proveedorid: proveedorSelector.val()
                },
                success: function (facturas) {
                    var facturaSelect = $("#bienesbundle_bien_factura");
                     
                    // Eliminar opciones actuales
                    facturaSelect.html('');
                    
                    // Valor vacío...
                    facturaSelect.append('<option value> Seleccione factura de ' + proveedorSelector.find("option:selected").text() + ' ...</option>');
                    
                
                    $.each(facturas, function (key, factura) {
                        if(factura.esOrganismoPublico){ //si es organismo publico
                            $("#bienesbundle_bien_factura").attr("disabled",true); //desabilito la funcion de seleccionar factura
                        }
                        else{
                        $("#bienesbundle_bien_factura").attr("enabled",true);
                        facturaSelect.append('<option value="' + factura.id + '">' + factura.name + '</option>'); 
                        }
                    });
                },
                error: function (err) {
                    alert("No debe ingresar factura ");
                }
            });
            
            
        });

    </script>

   
{% endblock %}
