{% extends 'base.html.twig' %}

{% block body %}
    <ul>
    <h1>Bien</h1>
        <h3>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bien.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ bien.codigo }}</td>
            </tr>
            <tr>
                <th>Fechaalta</th>
                <td>{% if bien.fechaAlta %}{{ bien.fechaAlta|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ bien.descripcion }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ bien.estado }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-outline-primary" value="Borrar"></a>
            {{ form_end(delete_form) }}
            <a href="{{ path('bien_index') }}" class="btn btn-outline-primary"> Volver al listado de bienes </a>
            <a href="{{ path('bien_edit', { 'id': bien.id }) }}" class="btn btn-outline-primary"> Editar </a>
        </div>
    </ul></h3>
    </ul>
{% endblock %}
