{% block tableBlockBien %}

	<div class="table-responsive borderRad dataTable gg" id="full_table" style="max-height: 62vh">

		<table class="table bg-light table-sm table-striped table-bordered table-hover text-center text-dark">
			<thead class="table-tr-bg" style="position: sticky; top: 0; z-index: 1">
				<tr>
					<th>Id bien</th>
					<th>Codigo</th>
					<th>Usuario</th>
					<th>Descripcion</th>
					<th id="ordeninput">Ubicacion
					</th>
					<th>Estado</th>
					<th>Fecha de alta</th>
					{% if not pdfp  %}
						<th>Acciones</th>
					{% endif %}
				</tr>


			</thead>
			<tbody id="tableData">

				{% for bien in biens %}

					<tr id="data{{loop.index}}">
						<td>

							<a href="{{ path('bien_show', { 'id': bien.id }) }}">{{ bien.id }}</a>
						</td>
						<td>{{ bien.codigo }}</td>
						<td name="tdResp" id="resp{{loop.index}}" style="cursor: pointer" data-toggle="collapse" href="#collapsediv{{loop.index}}">{{ bien.responsable }}</td>

						<td>{{ bien.descripcion }}</td>
						<td>{{ bien.ubicacion }}</td>
						<td>{{ bien.estado }}</td>
						<td>
							{% if bien.fechaAlta %}
								{{ bien.fechaAlta|date('d-m-Y') }}
							{% endif %}
						</td>
						{% if not pdfp %}
							<td>
								<ul>
									<div class="btn-group" role="group" aria-label="Basic outlined example">
										<a href="{{ path('bien_show', { 'id': bien.id }) }}" class="btn btn-sm btn-outline-primary">ver</a>

										<a href="{{ path('bien_edit', { 'id': bien.id }) }}" class="btn btn-sm  btn-outline-primary">editar</a>

										<a href="{{ path('prestamo_imprimir', { 'id': bien.id }) }}" class="btn btn-sm  btn-outline-primary">imprimir alta</a>

										<a href="{{ path('prestamo_bien', { 'id': bien.id }) }}" class="btn btn-sm  btn-outline-primary">imprimir prestamo</a>
									</div>
								</ul>
							</td>
						{% endif %}

					</tr>
					{% if not pdfp %}

						<tr style="display: none" name="hideRow" id="hideRow{{loop.index}}">
							<td colspan="12" class="text-left p-2" style="background: #d5dee3">
								<div class="collapse" name"collapsediv" id="collapsediv{{loop.index}}">
									{{ bien.responsable }}
								</div>
							</td>
						</tr>
					{% endif %}
				{% endfor %}

			</tbody>
		</table>

	</div>

{% endblock %}
