{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar un proveedor</h1>
    <h3>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar" />
    {{ form_end(edit_form) }}

    <ul>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <input type="submit" value="Editar" class="btn btn-outline-primary"></a>
            {{ form_end(edit_form) }}
            <a href="{{ path('proveedor_index') }}" class="btn btn-outline-primary"> Volver al listado de proveedores </a>
            {{ form_start(delete_form) }}
            <input type="submit" value="Eliminar" class="btn btn-outline-primary"> </a>
            {{ form_end(delete_form) }}
        </div>



    </ul>
    </h3>
{% endblock %}
