{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Proveedores</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Cuil/Cuit</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Localidad</th>
                <th>Provincia</th>
                <th>Email</th>
                <th>Accioness</th>
            </tr>
        </thead>
        <tbody>
        {% for proveedor in proveedors %}
            <tr>
                <td><a href="{{ path('proveedor_show', { 'id': proveedor.id }) }}">{{ proveedor.id }}</a></td>
                <td>{{ proveedor.cuil }}</td>
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.direccion }}</td>
                <td>{{ proveedor.localidad }}</td>
                <td>{{ proveedor.provincia }}</td>
                <td>{{ proveedor.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('proveedor_show', { 'id': proveedor.id }) }}">ver</a>
                        </li>
                        <li>
                            <a href="{{ path('proveedor_edit', { 'id': proveedor.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>

            <a href="{{ path('proveedor_new') }}">Crear un nuevo proveedor</a>

    </ul>
{% endblock %}
