{% extends 'base_new.html.twig' %}
{% block body %}
	<h1>
		Proveedor
	</h1>

	<div class="table-responsive">
		<table class="table-sm table-striped mb-3">
			<tbody>
				<tr>
					<th>
						Id
					</th>
					<td>
						{{ proveedor.id }}
					</td>
				</tr>
				<tr>
					<th>
						Cuil/Cuit
					</th>
					<td>
						{{ proveedor.cuil }}
					</td>
				</tr>
				<tr>
					<th>
						Nombre
					</th>
					<td>
						{{ proveedor.nombre }}
					</td>
				</tr>
				<tr>
					<th>
						Direccion
					</th>
					<td>
						{{ proveedor.direccion }}
					</td>
				</tr>
				<tr>
					<th>
						Localidad
					</th>
					<td>
						{{ proveedor.localidad }}
					</td>
				</tr>
				<tr>
					<th>
						Provincia
					</th>
					<td>
						{{ proveedor.provincia }}
					</td>
				</tr>
				<tr>
					<th>
						Email
					</th>
					<td>
						{{ proveedor.email }}
					</td>
					<th>
						Organismo Publico
					</th>
						<td>
							{% if proveedor.organismoPublico %}
							Si
							{% else %}
							No
							{% endif %}
						</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="btn-group mb-3" role="group" aria-label="Basic outlined example">

		<a class="btn btn-sm btn-outline-primary" href="{{ path('proveedor_index') }}">
			Volver a los proveedores
		</a>

		<a class="btn btn-sm btn-outline-primary" href="{{ path( 'proveedor_edit', { id: proveedor.id } ) }}">
			Editar
		</a>

		{{ form_start(delete_form) }}
		<input class="btn btn-sm btn-outline-danger" type="submit" value="Borrar"/>
		{{ form_end(delete_form) }}
	</div>
{% endblock %}
