{% block tableBlockProveedor %}

	<div class="table-responsive borderRad dataTable gg" id="full_table" style="max-height: 62vh">

		<table class="table bg-light table-sm table-striped table-bordered table-hover text-center text-dark">
			<thead class="table-tr-bg" style="position: sticky; top: 0; z-index: 1">
				<tr>
					<th>
						Id
					</th>
					<th>
						Cuil/Cuit
					</th>
					<th>
						Nombre
					</th>
					<th>
						Dirección
					</th>
					<th>
						Localidad
					</th>
					<th>
						Provincia
					</th>
					<th>
						Email
					</th>
					<th>
						Acciones
					</th>
				</tr>
			</thead>
			<tbody class="font-weight-normal text-lowercase">
				{% for proveedor in proveedors %}
					<tr>
						<td>
							<a href="{{ path( 'proveedor_show', { id: proveedor.id } ) }}">
								{{ proveedor.id }}
							</a>
						</td>
						<td>
							{{ proveedor.cuil }}
						</td>
						<td>
							{{ proveedor.nombre }}
						</td>
						<td>
							{{ proveedor.direccion }}
						</td>
						<td>
							{{ proveedor.localidad }}
						</td>
						<td>
							{{ proveedor.provincia }}
						</td>
						<td>
							{{ proveedor.email }}
						</td>
						<td>
							<div class="btn-group" role="group" aria-label="Basic outlined example">
								<a href="{{ path( 'proveedor_show', { id: proveedor.id } ) }}" class="btn btn-sm btn-outline-primary">
									ver
								</a>
								<a href="{{ path( 'proveedor_edit', { id: proveedor.id } ) }}" class="btn btn-sm btn-outline-primary">
									editar
								</a>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
