{% block formBlock %}
    {{ form_start(form) }}
    {% for campo, obj in form %}
        {% if loop.last %}
        {% elseif campo == "password" %}
         {% for label, pass in obj %}
           <div class="form-row">
            <div class="form-group col-md-4">
              {{ form_label(pass) }}
              {{ form_widget(pass, {'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
          </div>  
           {% endfor %}
        {% else %}
          <div class="form-row">
            <div class="form-group col-md-4">
              {{ form_label(obj) }}
              {{ form_widget(obj, {'attr': {'class': 'form-control form-control-sm'}}) }}
            </div>
          </div>  
        {% endif %}
    {% endfor %}
    <input class="btn btn-outline-primary btn-margin btn-sm" type="submit" value="{{btnTxt}}" />
  {{ form_end(form) }}
{% endblock %}

