{% extends 'base.html.twig' %}
 
{% block body %}
    <!doctype html>
    <html lang="en">
    <head>
        <title>Sistema de bienes patrimoniales SEIyG</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="https://www.santafe.gob.ar/assets/standard/images/favicon.ico">




        <!-- css custom theme -->
        <link rel="stylesheet" href="/themes/bundles/stgtheme/css/custom.css?version=012020" type="text/css">

        <!-- assets fonts -->
        <link rel="stylesheet" href="https://www.santafe.gob.ar/assets/standard/css/fonts.css" type="text/css">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">





    </head>
    <body>

    <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <a class="navbar-brand" href="https://www.santafe.gob.ar"><img
                    src="https://www.santafe.gob.ar/assets/standard/images/gob-santafe.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">


                <li class="nav-item active">
                    <a class="nav-link" href="{{ ('proveedor') }}">Proveedor <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ ('factura') }}">Factura <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ ('bien') }}">Bien <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ ('user') }}">Usuarios <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0 custom-margin-right">
                <input type="text" id="buscar" class="autocomplete">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
            </form>



            <ul class="list-inline custom-icon-middle">

                <li class="list-inline-item">

                    <a href="#" class="dropdown-toggle" id="dropdownMenuLinkPerson" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false" title={{ app.user.username }}><i class="material-icons">person</i></a>

                    <div class="dropdown-menu custom-dropdown-menu-right" aria-labelledby="dropdownMenuLinkPerson">
                        <a class="dropdown-item" href="#">Perfil</a>
                        <a class="dropdown-item" href="#">Configuración</a>
                        <a class="dropdown-item" href="#">Acerca de</a>
                    </div>

                </li>

                <li class="list-inline-item"><a href={{  ('logout') }} title="Salir"><i class="material-icons">exit_to_app</i></a>
                </li>

            </ul>



        </div>
    </nav>

    <main role="main" class="container">


        <div class="row row-top">

            <div class="col-lg-12">
                <h1>Sistema de bienes patrimoniales</h1>

                <p>Ministerio de Igualdad, Genero y Diversidad</p>

                <a target="_blank" href="http://10.3.17.203/~lucia/internetycable/web">
                    <img src="img.png"  alt="Sistema de internet y cable, facturas "/> </a>
                    



            </div>

        </div>





    </main>

    <div class="clearfix"><br></div>

    <footer class="footer text-muted">
        <div class="container container-footer">
            <div class="row">

                <div class="col-sm-12 col-md-4">
                    <div class="sociales">
                        <p>
                            <a href="//www.santafe.gob.ar/index.php/web/content/view/full/117678">RSS / SUSCRIPCIÓN A NOTICIAS</a>
                        </p>
                        <ul class="list-inline footer-ul">
                            <li class="list-inline-item">
                                <a target="_blank" href="http://www.twitter.com/GobSantaFe">
                                    <i class="icon-footertwitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a target="_blank" href="http://www.facebook.com/GobSantaFe">
                                    <i class="icon-footerfacebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a target="_blank" href="http://www.youtube.com/GobSantaFe">
                                    <i class="icon-footeryoutube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-sm-12 col-md-4">

                    <div class="stg-logos" style="text-align:center">
                        <img src="//www.santafe.gob.ar/assets/standard/images/marca-footer.png" alt="Santa Fe" style="margin-bottom:10px;">
                    </div>


                </div>

                <div class="col-sm-12 col-md-4 contact-data-footer">
                    <p>
                        Atenci&oacute;n telef&oacute;nica: (342) 4572888<br/>Lunes a viernes de 8 a 16 hs
                    </p>
                    <p>
                        <span class="cc">c</span>
                        Atribución-CompartirIgual 2.5 Argentina</p>

                </div>

            </div>

        </div>
    </footer>




    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {


            var elems = document.querySelectorAll('.autocomplete');
            var instances = M.Autocomplete.init(elems, options);
        });


    </script>






    </body>
    </html>

    {% block content %}{% endblock %}
{% endblock %}