{% extends 'base.html.twig' %}

{% block body %}
    <h1>Responsableareas list</h1>
<h3>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Cargo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for responsableArea in responsableAreas %}
            <tr>
                <td><a href="{{ path('responsablearea_show', { 'id': responsableArea.id }) }}">{{ responsableArea.id }}</a></td>
                <td>{{ responsableArea.nombre }}</td>
                <td>{{ responsableArea.cargo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('responsablearea_show', { 'id': responsableArea.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('responsablearea_edit', { 'id': responsableArea.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('responsablearea_new') }}">Crear a nuevo responsable de Area</a>
             <a href="{{ path('bienes_homepage') }}" class="btn btn-outline-primary">
            Volver al menú principal</a>
        </li>
    </ul>
</h3>
{% endblock %}
