{% extends 'base.html.twig' %}

{% block body %}
    <h1>Responsablearea creation</h1>
<h3>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('responsablearea_index') }}">Volver</a>
        </li>
         <a href="{{ path('bienes_homepage') }}" class="btn btn-outline-primary">
            Volver al menú principal</a>
    </ul>
</h3>
{% endblock %}
