{% extends 'base.html.twig' %}

{% block body %}
    <h1>Responsablearea</h1>
<h3>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ responsableArea.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ responsableArea.nombre }}</td>
            </tr>
            <tr>
                <th>Cargo</th>
                <td>{{ responsableArea.cargo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('responsablearea_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('responsablearea_edit', { 'id': responsableArea.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</h3>
{% endblock %}
