{% extends 'base_new.html.twig' %}

{% block body %}
  <h1>
    User edit
  </h1>

  {{ form_start(edit_form) }}
    {% for campo, obj in edit_form %}
        {% if loop.last %}
        {% elseif campo == "password" %}
         {% for pass, label in obj %}
           <div class="form-row">
            <div class="form-group col-md-4">
              {{ form_label(label) }}
              {{ form_widget(label, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>  
           {% endfor %}
        {% else %}
          <div class="form-row">
            <div class="form-group col-md-4">
              {{ form_label(obj) }}
              {{ form_widget(obj, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>  
        {% endif %}
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Guardar" />
  {{ form_end(edit_form) }}
  
  <br />
  <div>
    <a class="btn btn-primary" href="{{ path('user_index') }}">
      Listado de Usuarios
    </a>
    {{ form_start(delete_form) }}
    <input class="btn btn-danger" type="submit" value="Eliminar" />
    {{ form_end(delete_form) }}
  </div>
{% endblock %}
