{% extends 'base_new.html.twig' %}

{% block body %}
  <h1>
    Listado de Usuarios
  </h1>

  <table class="table table-bordered table-hover backgroundtable">
    <thead>
      <tr>
        <th>
          Id
        </th>
        <th>
          Username
        </th>
        <th>
          Password
        </th>
        <th>
          E-Mail
        </th>
        <th>
          Activo
        </th>
        <th>
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>
            <a href="{{
              path(
                'user_show',
                {
                  id: user.id
                }
              )
              }}">
              {{ user.id }}
            </a>
          </td>
          <td>
            {{ user.username }}
          </td>
          <td>
            ... {{ user.password|slice(- 15) }}
          </td>
          <td>
            {{ user.email }}
          </td>
          <td>
            {% if user.isActive %}
              Yes
            {% else %}
              No
            {% endif %}
          </td>
          <td>
            <a class="btn btn-info"
              href="{{
              path(
                'user_show',
                {
                  id: user.id
                }
              )
              }}">
              Ver
            </a>
            <a class="btn btn-primary"
              href="{{
              path(
                'user_edit',
                {
                  id: user.id
                }
              )
              }}">
              Modificar
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a class="btn btn-primary btn-margin" href="{{ path('user_new') }}">
    Crear Nuevo Usuario
  </a>
{% endblock %}
