{% extends 'base_new.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password | slice( -15 ) }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Isactive</th>
                <td>{% if user.isActive %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a  class="btn btn-primary"  href="{{ path('user_index') }}">Listado de Usuarios</a>
        </li>
        <li>
            <a  class="btn btn-primary"  href="{{ path('user_edit', { 'id': user.id }) }}">Modificar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input  class="btn btn-danger"  type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
