{% extends 'base.html.twig' %}

{% block body %}
    <h1>Responsables list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Dni</th>
                <th>Funcionario</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for responsable in responsables %}
            <tr>
                <td><a href="{{ path('responsable_show', { 'id': responsable.id }) }}">{{ responsable.id }}</a></td>
                <td>{{ responsable.nombre }}</td>
                <td>{{ responsable.dni }}</td>
                <td>{% if responsable.funcionario %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('responsable_show', { 'id': responsable.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('responsable_edit', { 'id': responsable.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('responsable_new') }}">Create a new responsable</a>
        </li>
    </ul>
{% endblock %}
