{% extends 'base_new.html.twig' %}

{% block body %}
  <br>
   <ul>
    <h1>Editar factura</h1>

   
    {{ form_start(edit_form) }}
    {% for campo, obj in edit_form %}
        {% if loop.last %}
        {% elseif campo == "password" %}
         {% for label, pass in obj %}
           <div class="form-row">
            <div class="form-group col-md-4">
              {{ form_label(pass) }}
              {{ form_widget(pass, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>  
           {% endfor %}
        {% else %}
          <div class="form-row">
            <div class="form-group col-md-4">
              {{ form_label(obj) }}
              {{ form_widget(obj, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>  
        {% endif %}
    {% endfor %}
    <input class="btn btn-primary btn-margin" type="submit" value="Guardar" />
  {{ form_end(edit_form) }}


    <ul>

        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <input type="submit" value="Editar" class="btn btn-outline-primary"></a>
       
            <a href="{{ path('factura_index') }}" class="btn btn-outline-primary"> Volver al listado de facturas </a>
            {{ form_start(delete_form) }}
            <input type="submit" value="Eliminar" class="btn btn-outline-primary"> </a>
            {{ form_end(delete_form) }}
        </div>
    </ul></ul>
{% endblock %}
