{% extends 'base.html.twig' %}
{% block body %}






             <p class="text-end">{{ fecha|date("m/d/Y") }}</p>
        </tr>
             <p></p><p<p></p><p></p>
            <ul><ul>
                    <br><br>
                    <p class="text-center"><th>
                            <br><br><br>
                    <h1> <div align="center" <>CARGO DE BIENES DE CAPITAL</b></p><br><br><br><br></div></h1></ul>
                       <h2> <br>Responsable de la tenencia, guarda y conservación
                        <br><ul>Oficina: {{ responsable.cargo }}
                        <br>Agente: {{ responsable.nombre }}
                           </ul>
                        Datos de adquisicion
                    <ul>Fecha adquisicion: {{ factura.fecha|date("m/d/Y") }}
                        <br>Proveedor: {{ proveedor.nombre }}
                        </br>N° de Factura: {{ factura.numeroFactura }}
                        <br>Importe unitario: $ {{ factura.montoUnitario }}
                        <br>Importe total: $ {{ factura.montoTotal }}
                    </ul>
                    Bien Adquirido
                    <ul>Detalle: {{ bien.estado }}
                        <br>Descripcion/SARI/N° de Serie: {{ bien.descripcion }}
                        <br>Color:  <select name=color id="selectColor">
                            <option value="0" selected>Colores..
                            <option value="1">Negro
                            <option value="2">Blanco
                            <option value="3">Azul
                            <option value="4">Naranja
                            <option value="5">Rojo
                            <option value="6">Amarillo
                            <option value="7">Verde
                            <option value="8">Marrón
                        </select>

                        <br>N° codigo sistema: {{ bien.codigo }}
                        <br>Caracteristica: {{ bien.tipo }} {{ bien.rama }}
                    </ul>
                       </h2>
                    </th>

                    <br><br><br><br><br>
                    <p align="left">............................................
                    <br><br>Firma Agente Responsable - {{ responsable.nombre }}</p>
                    <p align="center">............................................
                        <br><br>Firma responsable del sector - {{ responsable.responsableArea }}</p>

                    ............................................
                    <br>Firma responsable de compras



        </ul></ul>

    <div class="clearfix"><br></div>

    <footer class="footer text-muted">
        <div class="container container-footer">
            <div class="row">

                <div class="col-sm-12 col-md-4">

                    <div class="stg-logos" style="text-align:center">
                        <img src="//www.santafe.gob.ar/assets/standard/images/marca-footer.png" alt="Santa Fe" style="margin-bottom:10px;">
                    </div>


                </div>

                <div class="col-sm-12 col-md-4 contact-data-footer" align="center">
                    <p>Sectorial de Informática
                    <br>Secretaría de Estado de Igualdad y Género
                    </p>
                    <p>
                        Corrientes 2879 - (3000) Santa Fe </p><p>Tel: (0342) 4572888 / 4589468</p>

                </div>

            </div>

        </div>
    </footer>
        </html>

{% endblock %}