{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facturas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Numerofactura</th>
                <th>Fecha</th>
                <th>Monto</th>
                <th>Descripcion</th>
                <th>Tipoadquisicion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for factura in facturas %}
            <tr>
                <td><a href="{{ path('factura_show', { 'id': factura.id }) }}">{{ factura.id }}</a></td>
                <td>{{ factura.numeroFactura }}</td>
                <td>{% if factura.fecha %}{{ factura.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ factura.monto }}</td>
                <td>{{ factura.descripcion }}</td>
                <td>{{ factura.tipoAdquisicion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('factura_show', { 'id': factura.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('factura_edit', { 'id': factura.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('factura_new') }}">Create a new factura</a>
        </li>
    </ul>
{% endblock %}
