{% extends 'base_new.html.twig' %}

{% block body %}
<ul>
    <h1>Factura</h1>


    <table class="mini-table color-c">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ factura.id }}</td>
            </tr>
            <tr>
                <th>Numero de factura</th>
                <td>{{ factura.numeroFactura }}</td>
            </tr>
            <tr>
                <th>Fecha de facturación</th>
                <td>{% if factura.fecha %}{{ factura.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Monto: </th>
                <td>${{ factura.montoUnitario }}</td>
            </tr>
            <tr>
                <th>Monto total: </th>
                <td>${{ factura.montoTotal }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ factura.descripcion }}</td>
            </tr>
            <tr>
                <th>Tipo de adquisicion</th>
                <td>{{ factura.tipoAdquisicion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>

        <div class="btn-group" role="group" aria-label="Basic outlined example">
            {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-outline-primary" value="Borrar"></a>
            {{ form_end(delete_form) }}
            <a href="{{ path('factura_index') }}" class="btn btn-outline-primary"> Volver al listado de facturas </a>
            <a href="{{ path('factura_edit', { 'id': factura.id }) }}" class="btn btn-outline-primary"> Editar </a>
        </div>


    </ul>
{% endblock %}
