{% extends 'baseVer.html.twig' %}

{% block body %}
    <h1>Factura</h1>


    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ factura.id }}</td>
            </tr>
            <tr>
                <th>Numerofactura</th>
                <td>{{ factura.numeroFactura }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if factura.fecha %}{{ factura.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Monto: $</th>
                <td>{{ factura.monto }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ factura.descripcion }}</td>
            </tr>
            <tr>
                <th>Tipoadquisicion</th>
                <td>{{ factura.tipoAdquisicion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('factura_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('factura_edit', { 'id': factura.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
