{% extends 'base_new.html.twig' %}

{% block body %}

	<h1>Factura</h1>


	<div class="table-responsive">
		<table class="table-sm table-striped mb-3">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ factura.id }}</td>
				</tr>
				<tr>
					<th>Numero de factura</th>
					<td>{{ factura.numeroFactura }}</td>
				</tr>
					<tr>
					<th>Proveedor</th>
					<td>{{ factura.proveedor }}</td>
				</tr>
				<tr>
					<th>Fecha de facturación</th>
					<td>
						{% if factura.fecha %}
							{{ factura.fecha|date('Y-m-d') }}
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>Monto:
					</th>
					<td>${{ factura.montoUnitario }}</td>
				</tr>
				<tr>
					<th>Monto total:
					</th>
					<td>${{ factura.montoTotal }}</td>
				</tr>
				<tr>
					<th>Descripcion</th>
					<td>{{ factura.descripcion }}</td>
				</tr>
				<tr>
					<th>Tipo de adquisicion</th>
					<td>{{ factura.tipoAdquisicion }}</td>
				</tr>
			</tbody>
		</table>
	</div>


	<div class="btn-group mb-3" role="group" aria-label="Basic outlined example">

		<a href="{{ path('factura_index') }}" class="btn btn-sm btn-outline-primary">
			Volver al listado de facturas
		</a>
		<a href="{{ path('factura_edit', { 'id': factura.id }) }}" class="btn btn-sm btn-outline-primary">
			Editar
		</a>
		
</div>{% endblock %}
