{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipos </h1>
    <h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Nombretipo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo in tipos %}
            <tr>
                <td><a href="{{ path('tipo_show', { 'id': tipo.id }) }}">{{ tipo.id }}</a></td>
                <td>{{ tipo.tipo }}</td>
                <td>{{ tipo.nombreTipo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tipo_show', { 'id': tipo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tipo_edit', { 'id': tipo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipo_new') }}">Create nuevo tipo</a>
        </li>
         <a href="{{ path('bienes_homepage') }}" class="btn btn-outline-primary">
            Volver al menú principal</a>
    </ul>
</h2>
{% endblock %}
