{% extends 'base_new.html.twig' %}

{% block body %}
    <h1>Tipos listado</h1>
    <h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Nombre tipo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo in tipos %}
            <tr>
                <td><a href="{{ path('tipo_show', { 'id': tipo.id }) }}">{{ tipo.id }}</a></td>
                <td>{{ tipo.tipo }}</td>
                <td>{{ tipo.nombreTipo }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{{ path('tipo_show', { 'id': tipo.id }) }}" button type="button" class="btn btn-primary" >Ver</a>
                    <a href="{{ path('tipo_edit', { 'id': tipo.id }) }}" button type="button" class="btn btn-primary">Editar</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
        <a href="{{ path('tipo_new') }}" button type="button" class="btn btn-outline-primary">Crear nuevo tipo</a>
      
   
</h2>
{% endblock %}
