{% extends 'base_new.html.twig' %}

{% block body %}
    <h1>Tipos</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Nombre tipo</th>
                <th>Tipo de Bien</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo in tipos %}
            <tr>
                <td><a href="{{ path('tipo_show', { 'id': tipo.id }) }}">{{ tipo.id }}</a></td>
                <td>{{ tipo.tipo }}</td>
                <td>{{ tipo.nombreTipo }}</td>
                <td>{{ tipo.idClasificacion }}</td>
                <td>
                   <div>
                            <a href="{{ path('tipo_show', { 'id': tipo.id }) }}">ver</a>
                        
                            <a href="{{ path('tipo_edit', { 'id': tipo.id }) }}">editar</a>
                    </div>    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipo_new') }}">Create a new tipo</a>
        </li>
    </ul>
{% endblock %}
