{% extends 'base_new.html.twig' %}

{% block body %}
    <h1>Tipo</h1>
    <h2>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo.id }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ tipo.tipo }}</td>
            </tr>
                   <tr>
                <th>Tipo de bien  </th>
                {% if tipo.idClasificacion == "BI" %}
                <td> Bien informatico</td>
                {% elseif tipo.idClasificacion == "BU" %}
                <td> Bien de uso</td>
                {% else %}

                {% endif %}{% endif %}
            </tr>
            <tr>
                <th>Nombre del tipo  </th>
                <td> {{ tipo.nombreTipo }}</td>
            </tr>
       
        </tbody>
    </table>


           <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{{ path('tipo_index') }}" button type="button" class="btn btn-outline-primary">Volver al listado</a>
                   <a href="{{ path('tipo_edit', { 'id': tipo.id }) }}" button type="button" class="btn btn-outline-primary">Editar</a>
                   
                    </div>

</h2>
{% endblock %}
