{% extends 'base_new.html.twig' %}

{% block body %}
    <h1>Tipo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo.id }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ tipo.tipo }}</td>
            </tr>
            <tr>
                <th>Nombre tipo</th>
                <td>{{ tipo.nombreTipo }}</td>
            </tr>
            <tr>
                <th>Tipo de bien  </th>
                {% if tipo.idClasificacion == "BI" %}
                <td> Bien informatico</td>
                {% elseif tipo.idClasificacion == "BU" %}
                <td> Bien de uso</td>
                {% else %}

                {% endif %}

            </tr>
        </tbody>
    </table>

            <a href="{{ path('tipo_index') }}">Volver</a>

            <a href="{{ path('tipo_edit', { 'id': tipo.id }) }}">Editar</a>
    
        
{% endblock %}
